   /* Main home container */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0; /* Light background for body */
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e; /* Dark background */
    color: white;
    height: 470px;
    width: 320px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    border-radius: 0 0 15px 15px; /* Rounded corners at the bottom */
}

/* Content section with the image and text */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.illustration {
    max-width: 75%;
    height: auto;
    margin-bottom: 20px;
}

h5 {
    font-size: 1.2rem;
    color: #d0d0d0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* Add note button */
.add-note {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #2e2e2e; /* Floating action button color */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    margin-bottom: 12px;
}

.add-icon {
    font-size: 2rem;
    color: white;
}

/* Responsive adjustments for small screens */
@media (max-width: 573px) {
    .home {
        width: 90%;
        height: auto; /* Allow flexible height */
        max-height: 470px;
        padding: 15px;
    }

    .content {
        margin-bottom: 40px;
    }

    .illustration {
        max-width: 70%;
    }

    .add-note {
        bottom: 15px;
        right: 15px;
        width: 45px;
        height: 45px;
    }

    .add-icon {
        font-size: 1.8rem;
    }
}

@media (max-width: 500px) {
    .home {
        width: 90%;
        height: 400px;     
        padding: 10px;
        left: 8px;
    }

    .illustration {
        max-width: 70%;
        margin-top: 40px;
    }

    h5 {
        font-size: 1rem;
    }

    .add-note {
        bottom: 15px;
        right: 20px;
        width: 40px;
        height: 40px;
    }

    .add-icon {
        font-size: 1.6rem;
    }
}
